manga_ocr==0.1.11
opencv_python==4.9.0.80
Shapely==2.0.4
torch==2.2.2
torchsummary==1.5.1
torchvision==0.17.2
certifi==2024.2.2
charset-normalizer==3.3.2
click==8.1.7
filelock==3.13.4
fire==0.6.0
Flask==3.0.3
fsspec==2024.3.1
fugashi==1.3.2
huggingface-hub==0.22.2
idna==3.7
importlib_metadata==7.1.0
itsdangerous==2.2.0
jaconv==0.3.4
Jinja2==3.1.3
