<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>MANGALINGUA</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
</head>

<body>

  <nav class="navbar">
    <div class="title-container">
      <div class="headline" id="title"> <a href="#" class="back-button" onclick="window.history.back()">&#8249;</a> Word
    </div>
  </nav>

  <div class="container">
  <div class="defContainer">
    <p class="vocabulary">これ</p>
    <p class="voca-pron">kore</p>
    <p class="voca-trans">this</p>  
    <p><span style="
    color:black; 
    background-color: #838383;
    border-radius: 10px;
    margin-top:60px;
    margin-bottom:20px;
    font-weight: light;
    font-size:10px;
    padding-top:2px;
    padding-bottom:4px;
    padding-left:8px;
    padding-right:8px;"> Original Sentence </span></p>
    <p class="original">これは契約だ</p>
    <p class="pronunciation">Kore wa keiyakuda</p>
    <p class="translation">This is the deal.</p>
  </div></div>
  


<div class = "picContainer"></div>

<div class ="bigButton"> ⊗ Delect</div>

<div class="menu-container">
      <a href="\index.html">Home</a>
      <a href="\wordlist.html">Word Bank</a>
      <a href="\aitranslator.html">AI translator</a>
    </div>
</div>

  <script src="script/script.js"></script>
</body>

</html>