<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>MANGALINGUA</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
</head>

<body>

  <nav class="navbar">
    <div class="title-container">
      <div class="headline" id="title">

        <i class="fa fa-chevron-left navButton" style="left: 20px;"
        onclick="window.history.back()"></i> 
        
        <a href="/" style="text-decoration: none;"><i class="fa fa-home  navButton" style="right: 20px;"
        ></i> </a>
    </div>
  </nav>
  {% block content %}

  <div class="defContainer">
    <p class="vocabulary">これ</p>
    <p class="voca-pron">kore</p>
    <p class="voca-trans">this</p>  
    <p><span style="
    color:black; 
    background-color: #838383;
    border-radius: 10px;
    margin-top:120px;
    margin-bottom:0px;
    font-weight: light;
    font-size:8px;
    padding-top:2px;
    padding-bottom:4px;
    padding-left:8px;
    padding-right:8px;"> Original Sentence </span></p>
    <p class="original" style="
    font-size:16px;
    padding-top:0px;
    margin-top:0px;
    font-weight:300;">これは契約だ</p>
    <p class="pronunciation">Kore wa keiyakuda</p>
    <p class="translation" style="margin-top:4px;font-weight:lighter;">This is the deal.</p>
    
  </div>
  
<div class = "picContainer"></div>

<div  class="contentContainer"> <div class ="bigButton"> ⊗ Delete</div></div>


{% endblock %}
  <script src="script/script.js"></script>
</body>

</html>